<h2 class="m-5">Food Trucks In Wish List</h2>
<div *ngFor="let W of TruckItems;let i=index">
  <div class="d-flex justify-content-between">
    <div>
      <a target="_blank" rel="noopener noreferrer" href="{{ W.url }}" class="text-dark">
        <h5>{{ W.name }}</h5>
      </a>
      <p>{{ W.location.display_address[0] }}, {{ W.location.display_address[1] }}</p>
    </div>
    <div>
      <button class="btn btn-danger m-3" (click)="deleteFromWishList(W.id)">Delete From Wish List</button>
      <button class="btn btn-dark m-3" (click)="getAllPages( W.id, W.name)">Add To Passport</button>
    </div>
  </div>
  <br />
  <hr />
  <br />
</div>
