<div class="shadow-lg card p-3 mb-5 bg-white rounded mt-4 d-flex mx-auto">
  <div>
    <h1 class=" card-header bg-white d-flex justify-content-center">{{ bName }}</h1>
  </div>
  <br />
  <form #addPage="ngForm" (ngSubmit)="addPassportPage(addPage)">
    <div class="text-center">
      <h4>*Date visited:</h4>
      <input class="ml-3 my-2" name="dateVisited" type="date" ngModel required /><br />
    </div>
    <div class="mt-3 text-center">
      <h4>Image URL: </h4>
      <input size="45" class="ml-3" name="foodPic" type="text" placeholder="Image URL ending with .png or .jpeg" ngModel /><br />
      <a class="my-2" target="_blank" rel="noopener noreferrer" href="https://imgur.com/upload">
        Follow link to convert image to URL <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z" />
        </svg>
      </a>
      <p class="bg-warning">Instructions: Upload picture through the link. When image is loaded, right click on image and select "Copy image address" then paste it into the textbox above.</p>
    </div>
    <h4 class="mt-3 text-center">What did you eat?</h4>
    <textarea rows="2" cols="65" maxlength="89" name="foodEaten" type="text" ngModel required></textarea><br />
    <h4 class="my-2 text-center">How was the experience?</h4>
    <textarea rows="3" cols="65" maxlength="117" name="experience" type="text" ngModel></textarea><br />
    <h4 class="text-center">How tasty was it?</h4>
    <div>
      <div class="d-flex justify-content-between p-3 text-center">
        <h4>Yuck!</h4>
        <h4>Meh..</h4>
        <h4>Woo!</h4>
      </div>
      <input class="slider mb-3" name="rating" type="range" min="1" max="5" ngModel /><br />
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-dark mt-4 btn-block"><h4>Log Passport Entry</h4></button>
    </div>
  </form>
</div>
