<form #searchAddress="ngForm" (ngSubmit)="getLocation(searchAddress)">
  <label for="address">Please enter a city, state or zip code:</label>
  <input name="address" type="text" min="1" required ngModel/>
  <button>Search</button>
</form>

<div class="row mt-5">
  <div class="col-md-9 mx-auto">
    <h2 class="text-left">Google Map</h2>
    <div class="card mt-3">
      <div class="card-body">
        <div #mapRef style="width:100%;height:400px"></div>
      </div>
    </div>
  </div>
</div>
<br />
<div *ngIf="cityTrucks.length > 0; else elseblock">
  <h1>All Food Trucks Near {{ city }}</h1>
</div>
<ng-template #elseblock>
  <h1>No Food Trucks To Display</h1>
</ng-template>

<br />

<input onfocus="this.value=''" size="100" (input)="filterTrucks(filter.value)" #filter name="filter" id="filter" placeholder="Search for trucks" />

<br />

<div *ngFor="let T of filteredTrucks">
  <h3>{{ T.name }}</h3>
  <img src="{{ T.image_url }}" height="250" width="250" alt="yummy food image" />
  <h5 *ngIf="T.price != null">Price: {{ T.price }}</h5>
  <h5>Rating: {{ T.rating }}/5</h5>
  <a target="_blank" rel="noopener noreferrer" href= "{{ T.url }}">Link to Yelp!</a>
  <button *ngIf="isAuthenticated | async" (click)="getAllPages(T.id , T.name)">Add To Passport</button>
  <button *ngIf="isAuthenticated | async" (click)="buildWishList(T.id, T.name)">Add To Wish List</button>
  <br />
  <br />
</div>

