<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <h2>
          <img src="../../assets/images/HomePageTruck.gif" height="50" width="100" />
          Food Truckin'
        </h2>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <app-login-menu></app-login-menu>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']"><h5>Home</h5></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/food-trucks']"><h5>Search Trucks</h5></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/passport']"><h5>My Passport</h5></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/wish-list']"><h5>My Wish List</h5></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/user-profile']"><h5>My Profile</h5></a>
          </li>
          <!--<li ngbDropdownMenu class="nav-item d-inline-block">
            <button class="btn text-dark" id="dropdownProfile" ngbDropdownToggle><h5>My Profile</h5></button>
            <div ngbDropdownMenu aria-labelledby="dropdownProfile">
              <a ngbDropdownItem [routerLink]="['/user-profile']">Foodie Profile</a>
              <a ngbDropdownItem [routerLink]='["/authentication/profile"]'>Authentication Menu</a>
              <a ngbDropdownItem [routerLink]='["/authentication/logout"]'>Logout</a>
            </div>
          </li>-->
        </ul>
      </div>
    </div>
  </nav>
</header>
