
<div class=" d-flex justify-content-center">
  <button title="Previous Page"
          class="btn btn-link btn-floating btn-lg m-1 text-dark text-decoration-none"
          *ngIf="pageCounter > 0 && !updatedPage"
          (click)="previousPage(pageCounter -1)">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
      <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
    </svg>
  </button>
  <div class="shadow-lg pr-0 mb-5 bg-white rounded ml-1 mt-4 d-flex justify-content-between" style="width:500px; height:550px">
    <div id="page" class="mx-auto">
      <div *ngIf="!updatedPage">
        <h4>Welcome To Your Passport</h4>
      </div>
    </div>
    <div>
      <button title="Edit Page"
              class="btn btn-link btn-floating btn-lg m-1 text-dark text-decoration-none"
              *ngIf="pageCounter > 0 && !updatedPage"
              (click)="resetPage()">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
        </svg>
      </button>
    </div>
  </div>

  <button title="Next Page"
          class="btn btn-link btn-floating btn-lg m-1 text-dark text-decoration-none"
          *ngIf="pageCounter < Passport.length && !updatedPage"
          (click)="forwardPage(pageCounter)">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
      <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
    </svg>
  </button>


  <div class="shadow-lg mb-5 bg-white rounded ml-1 mt-4 d-flex justify-content-between ">
    <div class="pt-0 px-3" *ngIf="updatedPage == true">
      <div class="d-flex justify-content-between">
        <h4 class=" pt-4 mx-auto pl-5">Update Page</h4>
        <button
                title="Cancel"
                class="btn btn-link btn-floating btn-lg m-1 text-dark text-decoration-none"
                (click)="resetPage()">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
            <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
          </svg>
        </button>
      </div>
      <div>
        <form #editPage="ngForm" (ngSubmit)="editPassportPage(editPage)">
          <label for="dateVisited">Date Visited:</label>
          <input class="ml-3 my-2" name="dateVisited" type="date" [ngModel]="displayDate()" /><br />
          <p class="my-2">What Did You Eat?</p>
          <textarea rows="5" cols="55" name="foodEaten" type="text" [ngModel]="onePage.foodEaten"></textarea><br />
          <p class="my-2">How Was The Experience?</p>
          <textarea rows="5" cols="55" name="experience" type="text" [ngModel]="onePage.experience"></textarea><br />
          <label for="rating">Please Enter A Rating (1-10):</label>
          <input class="slider" id="ratingRange" name="rating" type="range" min="1" max="10" [ngModel]="onePage.rating" /><br />
          <div class="mx-auto mt-4">
            <button class="btn btn-dark btn-block" value="Refresh" onClick="window.location.reload(true)">Update Passport Entry</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


