<div class=" d-flex justify-content-center">
  <button title="Previous Page"
          class="btn btn-link btn-floating btn-lg m-1 text-dark text-decoration-none"
          *ngIf="pageCounter > 0 && !updatedPage"
          (click)="previousPage(pageCounter -1)">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
      <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
    </svg>
  </button>
  <div class="shadow-lg card border border-dark px-3 pt-0 mb-5 bg-dark text-white rounded ml-1 mt-4" style="width:550px; height:700px">
    <div class="d-flex justify-content-end">
      <button title="Edit Page"
              class="btn btn-link btn-floating btn-lg m-1 text-white text-decoration-none"
              *ngIf="pageCounter > 0 && !updatedPage"
              (click)="resetPage()">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
        </svg>
      </button>
    </div>
    <div id="page" class="mx-auto text-center mt-4">
      <div *ngIf="ratingArray.length == 0">
        <h2 class="">Welcome To Your Passport!</h2>
        <div class="mt-5">
          <img src="../../assets/images/PassportTruck.png" height="350" width="350" />
        </div>
      </div>
      <div *ngIf="ratingArray.length > 0">
        <h3 class="mt-0">{{ onePage.businessName }}</h3>
        <div class="card text-white bg-dark" style="height: 150px; width: 100%;">
          <img src="{{onePage.picture}}" style="height:150px; width:500px; object-fit:contain; object-position:center" alt="Edit to add picture" />
        </div>
        <hr color="white" />
        <h5 class="text-left">Date visited: {{ displayDate() }}</h5>
        <div class="d-flex justify-content-left align-bottom">
          <h5>Food eaten:</h5>
          <p class="text-break ml-2"> {{ onePage.foodEaten }}</p>
        </div>
        <div class="d-flex justify-content-left">
          <h5>Experience:</h5>
          <p class="text-break ml-2"> {{ onePage.experience }}</p>
        </div>
        <div class="d-flex justify-content-left">
          <h5 class="text-left">Rating: </h5>
          <img class="ml-2" *ngFor="let truckImg of ratingArray" src="../../assets/images/RatingTruck.png" height="30" />
        </div>
        <img class="mt-4 mb-0" src="../../assets/images/RedTruckStamp.png" height="100" width="177" />
      </div>
    </div>
  </div>

  <button title="Next Page"
          class="btn btn-link btn-floating btn-lg m-1 text-dark text-decoration-none"
          *ngIf="pageCounter < Passport.length && !updatedPage"
          (click)="forwardPage(pageCounter)">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
      <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
    </svg>
  </button>


  <div class="shadow-lg mb-5 bg-white rounded ml-1 mt-4 d-flex justify-content-between ">
    <div class="card pt-0 px-3" *ngIf="updatedPage == true" >
      <div class="d-flex justify-content-between">
        <h4 class=" pt-4 mx-auto pl-5">Update Page</h4>
        <button
                title="Cancel"
                class="btn btn-link btn-floating btn-lg m-1 text-dark text-decoration-none"
                (click)="resetPage()">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
            <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
          </svg>
        </button>
      </div>
      <div>
        <form #editPage="ngForm" (ngSubmit)="editPassportPage(editPage)">
          <div class="text-center">
            <h4>*Date visited:</h4>
            <input class="ml-3 my-2" name="dateVisited" type="date" [ngModel]="displayDate()" /><br />
          </div>
          <div class="mt-3 text-center">
            <h4>Image URL: </h4>
            <input size="45" class="ml-3" name="foodPic" type="text" placeholder="Image URL ending with .png or .jpeg" [ngModel]="onePage.picture" /><br />
            <a class="my-2" target="_blank" rel="noopener noreferrer" href="https://imgur.com/upload">
              Follow link to convert image to URL <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z" />
              </svg>
            </a>
            <p class="bg-warning" style="font-weight:bold">Instructions: Upload picture through the link. When image is loaded, right click on image and select "Copy image address" then paste it into the textbox above.</p>
          </div>
          <h4 class="mt-3 text-center">What did you eat?</h4>
          <textarea rows="2" cols="65" maxlength="89" name="foodEaten" type="text" [ngModel]="onePage.foodEaten" required></textarea><br />
          <h4 class="my-2 text-center">How was the experience?</h4>
          <textarea rows="3" cols="65" maxlength="117" name="experience" type="text" [ngModel]="onePage.experience"></textarea><br />
          <h4 class="text-center">How tasty was it?</h4>
          <div>
            <div class="d-flex justify-content-between p-3 text-center">
              <h4>Yuck!</h4>
              <h4>Meh..</h4>
              <h4>Woo!</h4>
            </div>
            <input class="slider mb-3" name="rating" type="range" min="1" max="5" [ngModel]="onePage.rating" /><br />
          </div>
          <div class="mx-auto mt-4">
            <button class="btn btn-dark btn-block mb-3" value="Refresh" onClick="window.location.reload(true)">Update Passport Entry</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>




