<ul class="navbar-nav" *ngIf="isAuthenticated | async">
    <li class="nav-item">
        <!--<a  class="nav-link text-dark" [routerLink]='["/authentication/profile"]' title="Manage">Hello {{ userName | async }}</a>-->
    </li>
    <li class="nav-item">
        <a  class="nav-link text-dark" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout"><h5 class="secondColor">Logout</h5></a>
    </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
  <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/authentication/register"]'><h5 class="secondColor">Register</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/authentication/login"]'><h5 class="firstColor">Login</h5></a>
    </li>
</ul>
